html{
	font-family: sans-serif;
}
h1{
	font-size: 24px;
}
h2{
	font-size: 18px;
	color: blue;
}
h3{
	font-size: 16px;
}
p{
	font-size: 24;
}
.centered{
	text-align: center;
}
.right{
	text-align: right;
}
a {
	color: red;
}
a:hover{
	color:teal;
}
ol {
	list-style-type: lower-roman;
}
table.boxOffice{
	width:100%;
	padding:8px;
}
th{
	font-variant:small-caps;
	text-align: center;
}
tr:nth-child(even){
	background-color:RGB(80, 80, 80);
}
td:hover{
	background-color:#1c780c;
}
